root = false

# C# files
[*.cs]

# Ignore types can be made internal
dotnet_diagnostic.CA1515.severity = none

# Ignore casing rule for invariant culture
dotnet_diagnostic.CA1308.severity = none
