root = false

# C# files
[*.cs]

# Allow underscores in test method names
dotnet_diagnostic.CA1707.severity = none

# Ignore unused private members
dotnet_diagnostic.IDE0052.severity = none

# Ignore expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# Ignore missing XML docs for public test APIs
dotnet_diagnostic.CS1591.severity = none

# Ignore making public types internal
dotnet_diagnostic.CA1515.severity = none
