name: Build Docker image task

env:
  IS_MAIN_BRANCH: ${{ endsWith(github.ref, 'refs/heads/main') }}
  DOCKER_REGISTRY: docker.io

on:
  workflow_call:
    inputs:
      # Input to control whether to push the Docker image to Docker Hub
      push:
        required: false
        type: boolean
        default: false

jobs:

  get-matrix:
    name: Get matrix job
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.getmatrix.outputs.matrix }}

    steps:

      - name: Checkout step
        uses: actions/checkout@v6

      - name: Load matrix.json step
        id: getmatrix
        # Create compact version of matrix.json
        run: |
          echo "matrix=$(jq --compact-output '.' ./Make/Matrix.json)" >> $GITHUB_OUTPUT

  get-version:
    name: Get version information job
    uses: ./.github/workflows/get-version-task.yml
    secrets: inherit

  build-docker:
    name: Build Docker image job
    runs-on: ubuntu-latest
    needs: [get-version, get-matrix]

    strategy:
      max-parallel: 4
      matrix:
        images: ${{ fromJson(needs.get-matrix.outputs.matrix).Images }}

    steps:

      - name: Checkout step
        uses: actions/checkout@v6

      - name: Setup QEMU step
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Setup Buildx step
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Login to Docker Hub step
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Create tags and args step
        id: tagsargs
        run: |
          TAGS=$(jq -r '.[]' <<< '${{ toJson(matrix.images.Tags) }}')
          ARGS=$(jq -r '.[]' <<< '${{ toJson(matrix.images.Args) }}')
          {
            echo "tags<<EOF"
            echo "$TAGS"
            echo "EOF"
            echo "args<<EOF"
            echo "$ARGS"
            echo "LABEL_VERSION=${{ needs.get-version.outputs.SemVer2 }}"
            echo "EOF"
          } >> "$GITHUB_OUTPUT"
          
      - name: Docker build and push step
        uses: docker/build-push-action@v6
        with:
          push: ${{ inputs.push && (github.ref_name == matrix.images.Branch) }}
          context: Docker
          file: Docker/${{ matrix.images.Name }}.Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.tagsargs.outputs.tags }}
          build-args: ${{ steps.tagsargs.outputs.args }}
          cache-from: |
            type=gha,scope=develop-${{ matrix.images.Name }}
            type=gha,scope=main-${{ matrix.images.Name }}
          cache-to: ${{ (github.ref_name == 'main' || github.ref_name == 'develop') && format('type=gha,mode=max,scope={0}-{1}', github.ref_name, matrix.images.Name) || format('type=gha,mode=min,scope=feature-{0}', matrix.images.Name) }}
