name: Build project release task

env:
  IS_MAIN_BRANCH: ${{ endsWith(github.ref, 'refs/heads/main') }}

on:
  workflow_call:
    inputs:
      # Input to control whether to create a GitHub release
      github:
        required: false
        type: boolean
        default: false
      # Input to control whether to push the Docker image to Docker Hub
      dockerhub:
        required: false
        type: boolean
        default: false

jobs:

  get-version:
    name: Get version information job
    uses: ./.github/workflows/get-version-task.yml
    secrets: inherit

  build-docker:
    name: Build Docker job
    uses: ./.github/workflows/build-docker-task.yml
    secrets: inherit
    with:
      # Conditional push to Docker Hub
      push: ${{ inputs.dockerhub }}

  github-release:
    name: Publish GitHub release job
    # Conditional GitHub release
    if: ${{ inputs.github }}
    runs-on: ubuntu-latest
    needs: [get-version, build-docker]

    steps:

      - name: Checkout code step
        uses: actions/checkout@v6

      - name: Create GitHub release job
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          tag_name: ${{ needs.get-version.outputs.SemVer2 }}
          prerelease: ${{ env.IS_MAIN_BRANCH != 'true' }}
          files: |
            LICENSE
            README.md
            ./Make/Version.json
            ./Make/Matrix.json
