name: Publish docker hub readme task

on:
  workflow_call:

jobs:

  get-matrix:
    name: Get repo matrix job
    runs-on: ubuntu-latest
    outputs:
      repos: ${{ steps.getrepos.outputs.repos }}

    steps:

      - name: Checkout step
        uses: actions/checkout@v6

      - name: Load matrix.json step
        id: getrepos
        # Create array of docker hub repositories from matrix.json
        run: |
          echo "repos=$(jq --compact-output '[.Images[].Name | ascii_downcase | "ptr727/\(.)" ] | sort | unique' ./Make/Matrix.json)" >> "$GITHUB_OUTPUT"

  publish-readme:
    name: Publish docker hub readme job
    runs-on: ubuntu-latest
    needs: get-matrix
    strategy:
      matrix:
        repos: ${{ fromJson(needs.get-matrix.outputs.repos) }}

    steps:

      - name: Checkout step
        uses: actions/checkout@v6

      - name: Update docker hub description step
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          repository: ${{ matrix.repos }}
          short-description: ${{ github.event.repository.description }}
          readme-filepath: ./Docker/README.md
