name: Test Pull Request Changes

on:
  pull_request:
    branches: [ main, develop ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  unittests:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:

      # https://github.com/marketplace/actions/setup-net-core-sdk
      - name: Setup .NET SDK 9
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.x

      # https://github.com/marketplace/actions/checkout
      - name: Checkout code
        uses: actions/checkout@v6

      # https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test
      - name: Run unit tests
        run: dotnet test .

  setmatrix:
    name: Set Matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.setmatrix.outputs.matrix }}

    steps:

      # https://github.com/marketplace/actions/checkout
      - name: Checkout code
        uses: actions/checkout@v6

      # Load Matrix.json and select only images that match the current branch and have the "latest" tag
      # TODO: Add support for multiple branches, e.g. select develop if not main
      # Convert the JSON to a single flat line to avoid having to escape the multiline output
      - name: Load Matrix JSON
        id: setmatrix
        run: |
          JSON=$(cat ./Make/Matrix.json | jq '{ Images: [ .Images[] | select(.Branch == "${{github.event.pull_request.base.ref}}") | select(.Tags | any(contains("latest"))) ] }')
          echo "JSON:"
          echo "$JSON"
          echo "Flat JSON:"
          FJSON=$(echo "$JSON" | jq --compact-output)
          echo "$FJSON"
          echo "matrix=${FJSON}" >> $GITHUB_OUTPUT

  # Build docker images
  builddocker:
    needs: setmatrix
    name: Build Docker Images
    runs-on: ubuntu-latest

    strategy:
      # https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs
      max-parallel: 4
      matrix:
        images: ${{ fromJson(needs.setmatrix.outputs.matrix).images }}

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout Code
        uses: actions/checkout@v6

      # https://github.com/marketplace/actions/docker-setup-qemu
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      # https://github.com/marketplace/actions/docker-setup-buildx
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      # https://github.com/marketplace/actions/docker-login
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      # https://github.com/marketplace/actions/build-and-push-docker-images
      - name: Build Images
        uses: docker/build-push-action@v6
        with:
          push: false
          cache-from: type=gha,scope=${{ matrix.images.cachescope }}
          cache-to: type=gha,mode=max,scope=${{ matrix.images.cachescope }}
          context: Docker
          file: Docker/${{ matrix.images.name }}.Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: |-
            ${{ join(matrix.images.tags, '
            ') }}
          build-args: |-
            ${{ join(matrix.images.args, '
            ') }}
            LABEL_VERSION=1.0.0.1

  # TODO: GH does not support selecting an entire task as a dependency
  # https://github.com/orgs/community/discussions/12395#discussioncomment-12970019

  # Check workflow result
  check-workflow-status:
    name: Check Workflow Status
    runs-on: ubuntu-latest
    needs:
      [
        unittests,
        builddocker,
      ]
    if: always()
    steps:
      - name: Check Workflow Status
        run: |
          exit_on_result() {
            if [[ "$2" == "failure" || "$2" == "cancelled" ]]; then
              echo "Job '$1' failed or was cancelled."
              exit 1
            fi
          }
          exit_on_result "check-labels" "${{ needs.unittests.result }}"
          exit_on_result "run-tests" "${{ needs.builddocker.result }}"
