name: Test pull request action

on:
  pull_request:
    branches: [ main, develop ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  test-release:
    name: Test release job
    uses: ./.github/workflows/test-release-task.yml
    secrets: inherit

  # TODO: Workaround for GitHub Actions not supporting status checks on conditional jobs
  # https://github.com/orgs/community/discussions/12395#discussioncomment-12970019
  check-workflow-status:
    name: Check pull request workflow status
    runs-on: ubuntu-latest
    needs:
      [ test-release ]
    if: always()
    steps:
      - name: Check workflow results
        run: |
          exit_on_result() {
            if [[ "$2" == "failure" || "$2" == "cancelled" ]]; then
              echo "Job '$1' failed or was cancelled."
              exit 1
            fi
          }
          exit_on_result "test-release" "${{ needs.test-release.result }}"
